header {

  .header-bar {
    position: relative;
    @include flex-align;
    @include size(100%, 5rem);

    .logo {
      height: 100%;
      @include horizontal-align;
    }

    .search {
      display: block;
      height: 24px;
      @include margin-horizontal(auto, 20%);
    }
  }

  nav {

    .navigation {
      position: relative;
      @include flex-center;
      @include size(100%, 3rem);
      background: $primary-color;
    }

    .drop-down {
      @include absolute($left: 0, $bottom: 0);
      display: none;
      width: 100vw;
      padding-left: 20%;
      background: $brand-gray;
      @include translate-bottom;
    }

    button {
      color: $white;
      height: 3rem;
      @include hover-color;
      @include padding-horizontal(2.5rem);
      @include transition(background);
    }

    li:hover > ul {
      display: flex;
    }
  }
}