header {
  .header-bar {
    position: relative;
    background: $white;
    @include flex-between;
    @include size(100%, 5rem);

    .logo {
      height: 100%;
      @include horizontal-align;
    }

    .menu {
      display: none;
    }

    .search {
      display: block;
      height: 24px;
      @include margin-horizontal(auto, 20%);
    }

    @include responsivity('lg') {
      @include padding-horizontal(1.875rem);
      .search {
        @include margin-horizontal(auto, 0);
      }
    }

    @include responsivity('md') {
      @include size(100%, 4.375rem);

      .menu {
        display: block;
      }
    }
  }
  @include responsivity('md') {
    @include fixed;
    width: 100%;
    @include flex-column;
    
    &.isOpen-true {
      inset: 0;
    }
  }
}