@mixin responsivity($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: $breakpoint-value) {
    @content;
  }
}

@mixin typography($family:null, $color:null, $size:null, $align:null, $weight:null, $height:null, $spacing: null) {
  
  font-family: $family;
  text-align: $align;
  color: $color;

  @if($size) {
    $size-value: map-get($font-size, $size);
    font-size: $size-value;
  }
  @if($weight) { 
    $weight-value: map-get($font-weight, $weight);
    font-weight: map-get($font-weight, $weight-value);
  }
  @if($height) {
    $height-value: map-get($line-height, $height);
    line-height: map-get($line-height, $height-value);
  }
  @if($spacing) {
    $spacing-value: map-get($letter-spacing, $spacing);
    letter-spacing: map-get($letter-spacing, $spacing-value);
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin width-range($width, $max-width) {
  width: $width;
  max-width: $max-width;
}

@mixin horizontal-align {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

@mixin translate-bottom {
  transform: translateY(100%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex-center($gap:null) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flex-center-vert($gap:null) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin  flex-between {
  @include flex-center-vert;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-column-reverse($gap:null) {
  @include flex-center;
  flex-direction: column-reverse;
  gap: $gap;
}

@mixin hover-color {
  &:hover {
    background: $hover-color;
  }
}

@mixin hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

@mixin margin-vertical($top, $bottom:null) {
  margin-top: $top;

  @if($bottom){ margin-bottom: $bottom; }
  @else { margin-bottom: $top; }
}

@mixin margin-horizontal($left, $right:null) {
  margin-left: $left;

  @if($right){ margin-right: $right; }
  @else { margin-right: $left; }
}

@mixin padding-vertical($top, $bottom:null) {
  padding-top: $top;

  @if($bottom){ padding-bottom: $bottom; }
  @else { padding-bottom: $top; }
}

@mixin padding-horizontal($left, $right:null) {
  padding-left: $left;

  @if($right){ padding-right: $right; }
  @else { padding-right: $left; }
}

@mixin transition($property) {
  transition: $property 0.2s ease-in-out;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin title-margin($margin) {

  h2 {
    margin-bottom: $margin;
  }
}

@mixin after {
  &::after {
    content: "";
    @content;
  }
}

@mixin disable-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin animate($name) {
  @keyframes #{$name} {
    @content;
  }
}