@mixin respond-below($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (min-width: $breakpoint-value) {
    @content;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin horizontal-align {
  position: absolute;
  right: 50%;
  transform: translate(50%);
}

@mixin translate-bottom {
  transform: translateY(100%);
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex-center($gap:null) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin hover-color {
  &:hover {
    background: $hover-color;
  }
}

@mixin hover-underline {
  &:hover {
    text-decoration: underline;
  }
}

@mixin margin-vertical($top, $bottom:null) {
  margin-top: $top;

  @if($bottom){ margin-bottom: $bottom; }
  @else { margin-bottom: $top; }
}

@mixin margin-horizontal($left, $right:null) {
  margin-left: $left;

  @if($right){ margin-right: $right; }
  @else { margin-right: $left; }
}

@mixin padding-vertical($top, $bottom:null) {
  padding-top: $top;

  @if($bottom){ padding-bottom: $bottom; }
  @else { padding-bottom: $top; }
}

@mixin padding-horizontal($left, $right:null) {
  padding-left: $left;

  @if($right){ padding-right: $right; }
  @else { padding-right: $left; }
}

@mixin transition($property) {
  transition: $property 0.2s ease-in-out;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin title-margin($margin) {

  h2 {
    margin-bottom: $margin;
  }
}