//Colors
$primary-color: #389CD6;
$text-color: #7B7070;
$hover-color: #FFFFFF30;
$white: #FFFFFF;
$gray-100: #9D8E8E;

//Fonts
$font-family: "Trebuchet-MS";
$font-size: (
  'xs': 14px,
  'sm': 16px,
  'md': 20px,
  'lg': 25px,
  'xl': 39px,
);
$font-weight: (
  'regular': 400,
  'bold': 700
);
$letter-spacing: (
  'sm': 0.32px,
  'md': 0.4px,
  'lg': 0.5px,
  'xl': 0.78px,
);
$line-height: (
  'sm': 22px,
  'md': 28px,
  'lg': 36px,
  'xl': 50px,
);

//Breakpoints
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
);