//Colors
$primary-color: #389CD6;
$text-color: #7B7070;
$hover-color: #FFFFFF30;
$shadow-color: #00000018;
$brand-gray: #9D8E8E;

$white: #FFFFFF;
$green: #309D5F;
$pink: #EE6381;

//Fonts
$font-family: "Trebuchet-MS";
$font-size: (
  'xs': 14px,
  'sm': 16px,
  'md': 20px,
  'lg': 25px,
  'xl': 31px,
  '2xl': 39px,
);
$font-weight: (
  'regular': 400,
  'bold': 700
);
$letter-spacing: (
  'sm': 0.32px,
  'md': 0.4px,
  'lg': 0.5px,
  'xl': 0.78px,
);
$line-height: (
  'sm': 22px,
  'md': 28px,
  'lg': 36px,
  'xl': 50px,
);

//Breakpoints
$breakpoints: (
  'xs': 320px,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
);