.banner {
  width: 100%;
}

.icons {
  width: 70.75rem;
  @include center-block;
}

main {
  
  & :nth-child(1) {
    width: 34.375rem;
  }
  & :nth-child(3) {
    width: 46.5rem;
  }

  .content-box {
    text-align: center;
    @include center-block;

    h2 {
      width: 100%;
      margin-bottom: 2.5rem;
    }
  }
}

section {
  @include margin-vertical(5rem, 2.5rem); 
}