.home {
  @include responsivity('md') {
    padding-top: 4.375rem;
  }
}

.banner {
  @include responsivity('md') {
    display: none;
  }
}

.banner-mobile {
  display: none;

  @include responsivity('md') {
    display: block;
  }
}

.img-fill {
  width: 100%;
}

.icons {
  @include width-range(100%, 70.75rem);
  @include center-block;
}

main {
  
  & > :nth-child(1) {
    @include width-range(100%, 34.375rem);
  }
  & > :nth-child(3) {
    @include width-range(100%, 46.5rem);
  }

  section {
    @include padding-vertical(5rem, 2.5rem);

    @include responsivity('sm') {
      @include padding-vertical(2.5rem);
    }
  }

  .content-box {
    text-align: center;
    @include center-block;
    @include title-margin(2.5rem);

    @include responsivity('md') {
      @include padding-horizontal(1.125rem);
    }
    @include responsivity('sm') {
      @include title-margin(2rem);
    }
  }

  .list-section {
    @include title-margin(5rem);
    @include responsivity('sm') {
      @include title-margin(2rem);
    }
    
    .list {
      flex: 1;
      width: max-content;
      overflow-y: visible;
      overflow-x: scroll;
      @include center-block;
      padding: 2rem;
      @include flex-center-vert(2rem);
      @include disable-scrollbar;

      @include responsivity('xl') {
        width: 100%;
        @include padding-horizontal(1.75rem);
      }

      @include responsivity('md') {
        @include padding-horizontal(1.125rem);
      }
    }

    .button-container {
      display: flex;
    }

    .button {
      border-radius: 1rem;
      margin-top: 6.5625rem;
      background: $primary-color;
      @include size(22.25rem, 4rem);
      @include center-block;
      @include transition(filter);
      @include typography($color:$white, $size:'md', $height:'md', $spacing: 'md');

      &:hover {
        filter: brightness(1.1);
      }

      @include responsivity('sm') {
        flex: 1;
        margin-top: 2.5rem;
        @include margin-horizontal(1.125rem);
      }
    }
  }
}