.img-fill {
  width: 100%;
}

.icons {
  width: 70.75rem;
  @include center-block;
}

main {
  
  & > :nth-child(1) {
    width: 34.375rem;
  }
  & > :nth-child(3) {
    width: 46.5rem;
  }

  section {
    @include padding-vertical(5rem, 2.5rem); 
  }

  .content-box {
    text-align: center;
    @include center-block;
    @include title-margin(2.5rem);
  }

  .list-section {
    @include title-margin(5rem);
    
    .list {
      @include center-block;
      @include flex-center(2rem);
    }
  }
}