body {
  @include typography($family:"Trebuchet-MS", $size:"sm", $weight:"regular");
}

h2 {
  @include typography(
    $color:$primary-color, 
    $size:'xl', 
    $align:center, 
    $weight:'bold', 
    $height:'xl', 
    $spacing: 'xl'
  )
}

p {
  @include typography($color:$text-color, $size:'md', $height:'md', $spacing: 'md');
}

button {
  @include typography($size:'sm');
}